#answer-item {
  width: 90%;
  height: auto;
  background-color: rgb(204, 230, 201);
  margin-bottom: 10px;
  margin-left: 5%;

  border: 2px solid rgb(48, 126, 64);
}

#answer-item div {
  display: inline-block;
  font-size: 0.8em;
  text-align: center;
  margin-top: 10px;
  color: black;
}

#answer-item hr {
  border: 3px solid rgb(48, 126, 64);
}

.an-name {
  width: 50%;
  line-height: 20px;
}
.an-an {
  width: 90%;
  line-height: 30px;
  margin-bottom: 10px;
  padding: 0 5% 0 5% !important;
  text-align: left !important;
}
.an-date {
  width: 30%;
  line-height: 20px;
}
.an-mo {
  width: 10%;
  line-height: 20px;
  cursor: pointer;
}
.an-del {
  width: 10%;
  line-height: 20px;
  cursor: pointer;
}

.an-mo:hover,
.an-del:hover {
  color: brown !important;
  font-weight: bold;
}

.an-an textarea {
  width: 90%;
  line-height: 30px;
  margin-bottom: 10px;
  padding: 0 5% 0 5% !important;
  text-align: left !important;
  border: none;
}
