#post-item{
    width: 90%;
    height: 75%;
    background-color: rgb(204, 255, 127);
    margin-left: 5%;
    padding-top: 5%;
}

#post-item .form{
    width: 80%;
    margin-left: 10%;
    height: 60%;
}

#post-item .form div{
    width: 100%;
    height: 60px;
    text-align: center;
}
.form-id span{
    width: 30%;
    float: left;
}
.form-id input{
    width: 60%;
    float: right;
}
#post-item .form-id input{
    width: 60%;
    float: right;
}
.form-title span{
    width: 30%;
    float: left;
}
.form-title input{
    width: 60%;
    float: right;
}
.form-content{
    height: 150px !important;
}
.form-content span{
    width: 30%;
    float: left;
}
.form-content textarea{
    width: 60%;
    float: right;
}
.form-user span{
    width: 30%;
    float: left;
}
.form-user input{
    width: 60%;
    float: right;
}
.form-date span{
    width: 30%;
    float: left;
}
.form-date input{
    width: 60%;
    float: right;
}

.form span{
    font-weight: bold;
    font-size: 1.5em;
}
.form input, .form textarea{
    font-size: 1.5em;
}

#post-item button{
    z-index: 4;
}

#post-item .delete-btn{
    position: absolute;
    top: 80%;
    border-radius: 50% 0 0 0 ;
}

#post-item .open-btn{
    position: absolute;
}

input:read-only, textarea:read-only{
    background-color: rgb(196, 241, 226);
    border: 1px solid black;
}