#post{
    width: 90%;
    margin-left: 5%;
    height: 60px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

#post:hover{
    font-weight: bold;
}

#post div{
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: 1.3em;
}

.post-id{
    width: 10%;
    background-color: rgb(206, 253, 237);
}
.post-title{
    width: 40%;
    background-color: rgb(162, 255, 224);
}
.post-userid{
    width: 25%;
    background-color: rgb(99, 255, 203);
}
.post-date{
    width: 25%;
    background-color: rgb(0, 255, 170);
}