#post-form {
  width: 90%;
  height: 370px;
  background-color: rgb(215, 239, 178);
  margin-left: 5%;
  padding-top: 5%;
}
.form {
  width: 80%;
  margin-left: 10%;
  height: 70%;
}
.form div {
  width: 100%;
  height: 60px;
  text-align: center;
}

#post-form .form-title {
  line-height: 50px;
  float: right;
}

#post-form .form-title input {
  width: 70% !important;
  float: left;
}
