#post-item {
  width: 90%;
  height: 75%;
  background-color: rgb(204, 255, 127);
  margin-left: 5%;
  padding-top: 5%;
  padding-bottom: 30px;
}

#post-item .form {
  width: 80%;
  margin-left: 7%;
  height: 60%;
}

#post-item .form div {
  width: 100%;
  height: 60px;
  font-size: 0.8em;
  text-align: center;
  line-height: 60px;
}
.form-id span:first-child {
  width: 42%;
  float: left;
}
.form-id span:last-child {
  width: 50%;
  float: right;
}
.form-id {
  font-size: 0.7em !important;
}
.form-title span {
  width: 25%;
  float: left;
}
.form-title input {
  width: 70%;
  height: 50px;
  font-weight: bold;
  float: right;
  border: none !important;
  border-bottom: 1px solid black !important;
  color: brown;
}
.form-title input:read-only {
  background-color: rgb(204, 255, 127) !important;
}
.form-content {
  height: 200px !important;
}
.form-content textarea {
  border: 1px solid green;
  margin-top: 15px;
  width: 105%;
  height: 100%;
  float: left;
  font-weight: 500;
}
.form-content textarea:read-only {
  background-color: rgb(243, 254, 227) !important;
}

.form span {
  font-weight: bold;
  font-size: 1.5em;
}
.form input,
.form textarea {
  font-size: 1.5em;
}

.form input,
.form textarea {
  background-color: white !important;
  font-size: 1.5em;
}

#post-item button {
  z-index: 4;
}

#post-item .delete-btn {
  position: absolute;
  top: 77%;
  border-radius: 50% 0 0 0;
}

#post-item .open-btn {
  position: absolute;
}

.answer-txt {
  width: 90%;
  margin-left: 5%;
  height: auto;
  margin-top: 50px;
  background-color: rgb(101, 255, 175);
  padding-top: 5px;
  padding-bottom: 5px;
}

.answer-txt h3 {
  text-align: center;
}
