#post-list{
    width: 90%;
    height: 80%;
    background-color: rgb(204, 255, 127);
    margin-left: 5%;
    padding-top: 1%;
}

.pagenumber{
    margin-right: 10%;
    cursor: pointer;
    font-weight: bold;
}

#active{
    color: red;
}

#pagenation button{
    position: relative;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 100%;
    background-color: none;
    top: 0;
}

#pagenation button:first-child{
    margin-right: 7%;
}

#pagenation{
    position: relative;
    margin-left: 5%;
    margin-top: 15px;
    text-align: center;
}