#post-list {
  width: 90%;
  height: auto;
  background-color: rgb(193, 241, 120);
  margin-left: 5%;
  padding-top: 1%;
}

.pagenumber {
  margin-right: 5%;
  cursor: pointer;
  font-weight: bold;
}

#active {
  color: red;
}

#pagenation button {
  position: relative;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 100%;
  background-color: none;
  top: 0;
}

#pagenation button:first-child {
  margin-right: 3%;
}

#pagenation {
  position: relative;
  width: 100%;
  margin-left: 0;
  margin-top: 15px;
  text-align: center;
}

@media screen and (max-width: 550px) {
  #pagenation button:last-child {
    margin-left: 3%;
  }
}
