#post-list {
  width: 90%;
  height: auto;
  background-color: rgb(193, 241, 120);
  margin-left: 5%;
  padding-top: 1%;
}

.pagenumber {
  margin-right: 5%;
  cursor: pointer;
  font-weight: bold;
}

#active {
  color: red;
}

#pagenation button {
  position: relative;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 100%;
  background-color: none;
  top: 0;
}

#pagenation button:first-child {
  margin-right: 3%;
}

#pagenation {
  position: relative;
  width: 100%;
  margin-left: 0;
  margin-top: 15px;
  text-align: center;
  padding-bottom: 20px;
}

.fixed {
  width: 200px;
  height: 70px;
  border-radius: 50%;
  line-height: 70px;
  background-color: rgb(145, 207, 51);
  position: fixed;
  bottom: 10%;
  right: 5%;
  z-index: 10;
}
.fixed input {
  width: 45%;
}

.fixed > div {
  width: 30px;
  height: 20px;
  line-height: 20px;
  z-index: 11;
  position: absolute;
  top: 75%;
  right: 40%;
  font-size: 0.6em;
  cursor: pointer;
}

.fixed > div:hover {
  color: brown;
  font-weight: bold;
}

.area {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}
.area div {
  display: inline-block;
  height: 30px;
  width: 50%;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.active {
  color: brown;
  font-weight: bold;
}

.area div:hover {
  font-weight: bold;
}
.area div:first-child {
  background-color: rgb(121, 225, 121);
}
.area div:last-child {
  background-color: rgb(76, 188, 76);
}

@media screen and (max-width: 550px) {
  #pagenation button:last-child {
    margin-left: 3%;
  }
  .area div {
    font-size: 0.7em;
  }
}
